@import 'fonts';
@import 'vars';

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  background: @color-white;
  color: @color-black;
  font-family: 'Roboto';
  font-weight: 300;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.image {
  width: 100%;
}
